* {
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-weight: normal !important;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}
body {
  background-color: #454039;
  margin: 50px;
  font-family: 'Share Tech Mono', 'Courier New';
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  font-size: 11px;
  line-height: 12px;
  color: #9C927A;
  height: 100%;
}
a:not(.incognito) {
  background-color: #9C927A;
  color: #454039;
  text-decoration: none;
  display: inline-block;
  padding: 0 0;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
a:hover {
  cursor: pointer;
}
.beardbash .line {
  white-space: nowrap;
  line-height: 13px;
}
.beardbash .line > * {
  display: inline-block;
}
.beardbash .line .verbose {
  white-space: pre-wrap;
}
.beardbash .line .prefix {
  width: 30px;
  text-align: right;
  margin-right: 10px;
}
.beardbash .input-wrapper {
  margin-top: 1px;
  padding: 5px 0;
}
.beardbash .input-wrapper:hover {
  cursor: text;
}
.beardbash .highlighted,
.beardbash .input {
  color: #C2B598;
}
.beardbash .type {
  border: none;
  display: none;
  opacity: 0;
}
.beardbash .type,
.beardbash .faux_input,
.beardbash .cursor {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.beardbash .cursor {
  opacity: 0;
  width: 6px;
  height: 12px;
  background-color: #c2b598;
  margin-left: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.beardbash:hover .input-wrapper {
  outline: 1px solid rgba(0,0,0,0.1);
}
.beardbash.focus .input-wrapper {
  outline: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
}
.beardbash.focus.available .cursor {
  opacity: 1;
}
